*{
    box-sizing: border-box;
   padding: 0;
   margin: 0;
 }
 
 /* Body */
 body {
   background-color: #d9dcd6;
 }
 
 /* Top section */
  nav div  {
   padding: 20px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   background-color: #2a607c;
   color: #ffffff;
 }
 /*Owner name at the top  */
 nav h1 {
   display: inline-block;
   font-size: 48px;
 }
 /* Change color at the top */
 nav div h1 .seo {
   color: #d9dcd6;
 }
 /* section in the top with links */
 nav div {
   padding-top: 15px;
   margin-right: 20px;
   float: right;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 20px;
 }
 /* Links at the top */
  nav div ul {
   list-style-type:none;
 }
 /* individual links at the top */
  nav div ul li {
   display: inline-block;
   margin-left: 25px;
 }
 /* all links on the entire page */
 a {
   color: #ffffff;
   text-decoration: none;
 }
 
 /* Picture at the top */
 .digital-marketing {
   width:140% ;
   display:inline-block;
   margin-left:100px;
   background-position:center ;
   background-size: cover;
   background-image:url(./assets/images/digital-marketing-meeting.jpg))
 }
 /* paragraphs */
 p {
   font-size:16px;
 }
 
 section {
   width:75%;
   display:inline-block;
   margin-left:20px;
 }
 /* broken up sections */
 section div {
   margin-bottom: 20px;
   padding: 50px;
   height: 300px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   background-color: #0072bb;
   color: #ffffff;
 }
 
 /* pictures in section */
 section img {
   max-height: 200px;
 }
 section h1 {
   max-height: 200px;}
 
 section h2 {
   max-height: 200px;
 
 }
 section h3 {
   max-height: 200px;
 }
 /*float left img sec*/
 .float-left{
   float: left;
   margin-right: 25px;
 }
 /* float right img sec*/
 .float-right {
     float:right;
     margin-left:25px;
 }
 /* Content aside sec*/
 aside {
   margin-right: 20px;
   padding: 20px;
   clear: both;
   float: right;
   width: 20%;
   height: 100%;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   background-color: #2589bd;
 }
 /* Content aside sec*/
 aside div{
   margin-bottom: 32px;
   color: #ffffff;
 }
 
 /* Content aside sec*/ 
 aside h3{
   margin-bottom: 10px;
   text-align: center;
 }
 
 /*all images within the aside */
 aside img{
   display: block;
   margin: 10px auto;
   max-width: 150px;
 }
 /* The page at the end */
 /* footer */
 footer {
     padding: 30px;
     clear: both;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     text-align: center;
 }
 /* footer */
 footer h2 {
     font-size: 20px;
 }















